/*
 ChatGPT mi poradilo :root, tak jsem si to vyzkoušel
    Vše stylizované do stylu Vašich prezentací
*/
:root {
    --hl_barva: #00ff26;
    --hl_barva_mys: #00b31b;
    --pozadi: #80e095a3;
    --nav: 14px 16px;
    --tlacitko: 10px 20px;
    --article_spodek_odsazeni: 20px;
    --article_vrstva: 20px;
    --res: 600px;
    --text: rgba(255, 255, 255, 0.941);
    --lista: #00610d;
    --lista_mys: #f8e97b;
    --stin: rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 70px;
 }
section h1 {
    color: var(--text);
    background-color: var(--hl_barva);
    border-radius: 8px;
    text-align: center;
    font-size: 3em;
    margin-bottom: 70px;
 }

 
 h2 {
    font-size: 2em;
    margin-bottom: 15px;
 }
 article h2 {
    color: var(--text)
 }
 
table {
    border-width: 5px;
    border: #00b31b;
}

td {
    width: 650px;
    height: 650px;
    max-width: 800px;
    max-height: 800px;
}

.centerArticly{
    align-items: center;
}

.article {
    margin-bottom: var(--article_spodek_odsazeni);
    margin-right: 5px;
    margin-left: 5px;

    text-align: center;
    background-color: var(--pozadi);
    padding: var(--article_vrstva);
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--stin);
}

.article img {
    max-width: var(--res);
    height: 400; 
    display: block;
    margin: 0 auto var(--article_spodek_odsazeni);
    border-radius: 4px;
}


.btn {
    display: inline-block;
    padding: var(--tlacitko);
    background-color: var(--hl_barva);
    color: var(--text);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #000000; 
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--hl_barva_mys);
}


.itemsInArticle {
    color: var(--text);
    font-size: 1.5em;
    margin-bottom: 15px;
 }
 

header {
    width: 100%; 
}

header ul {
    list-style-type: none;
    padding: 0;
    background-color: #00600e;
    overflow: hidden;
    margin: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
}

header ul li {
    float: none;

}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center; 
    font-size: 25px;
    margin-top: 10px;
    margin-right: 2px;
    border: 3px solid #000000; 
    border-radius: 5px;
}

header ul li a:hover {
    background-color: #00ff37;
    text-decoration: underline, ;
}

header ul li img {
    margin-top: 0px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start; 
    width: 100%; 
}


footer {
    background-color: var(--lista);
    color: var(--text);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin: 0px;
}
